.idea
*.log
*.pyc
*.history
.history/
.vscode
.cache
.ipynb_checkpoints/
__pycache__/
metastore_db/
*.egg-info
.coverage
.pytest_cache
.tox
.idea
*.pyc
nohup.out
venv/
.vscode*
venv/
arduino_secrets.h